@{
    Layout =null;
}
<html>
    <head>
        <title>确认支付</title>
        <link href="~/css/hotel.css" rel="stylesheet" />
    </head>
    <body style="background-color:#EAE8E8;">
        <div style="width:70%;margin:30px auto;background-color:#fff;padding:10px;">
            <div class="confirmHead">
                <div class="confirmRight">
                    收银台
                </div>
                <div class="clearbox"></div>
            </div>
            <div class="confirmContent">
                <div>
                    <div class="confirmLeft" style="border:none;line-height:65px;">
                        确认并支付
                    </div>
                    <div class="confirmRight" style="text-align: right;">
                        <span class="pricepic">¥</span><span class="hotelprice">200<span class="pricepic">元</span></span>
                    </div>
                    <div class="clearbox"></div>
                </div>
                <div>
                    <div>
                        成都马瑞卡都市酒店
                    </div>
                    <div>床型：豪华大床房-提前2天预订</div>
                    <div>
                        <div class="confirmitembox">床型：大床</div>
                        <div class="confirmitembox">房间数：1间</div>
                        <div class="confirmitembox">入住时间：2015.1.6</div>
                        <div class="confirmitembox">离店时间：2016.2.5</div>
                        <div class="clearbox"></div>
                    </div>
                </div>
                <div style="margin:10px 0;border-top:1px solid #4ac5de;border-bottom:1px dashed #ddd;padding:10px;">
                    <div>
                        <div class="confirmitembox">订单号：1012312345</div>
                        <div class="confirmitembox">联系人：张三</div>
                        <div class="confirmitembox">手机号码：13212345678</div>
                        <div class="confirmitembox">入住人：fffff</div>
                        <div class="clearbox"></div>
                    </div>
                    <div>
                        <div class="confirmitembox">宽带：无</div>
                        <div class="confirmitembox">早餐：无</div>
                        <div class="clearbox"></div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <input class="submitbutton" type="submit" value="点击立即支付" style="height:36px;" />
                </div>
            </div>
        </div>
    </body>
</html>
