@{
    Layout = "HotelLayout.cshtml";
    ViewBag.Title = "酒店首页";
}
<style>
    #searchHotel input {
        margin-top: 0px;
    }
</style>
    <div>
        <div id="header" style="font-family: '微软雅黑'">
            <div id="searchHotel">
                <div id="searchContent">
                    <form target="_blank" method="GET">
                        <div style="margin-top:20px;">
                            <div class="floatleft"><span>目的地</span><input type="text" value="" placeholder="请输入目的地" /></div>
                            <div class="floatleft" ><span>酒店名</span><input type="text" value="" placeholder="酒店名称" /></div>
                            <div class="clearbox"></div>
                        </div>
                        <div>
                            <input class="submitbutton" style="margin-top:20px;" type="submit" value="立即搜索" />
                        </div>
                    </form>
                </div>
                <div id="advertisebox">
                    <img src="/Images/qqq.jpg" style="width:680px;height:160px;" />
                </div>
                <div class="clearbox"></div>
            </div>
            <div>
                <div id="recommend">
                    <div class="rtitle">推荐酒店</div>
                    <div class="rtitle" style="float:right;text-align: right;"><a href="/机票酒店/SearchResult" target="_blank">更多>></a></div>
                    <div class="clearbox"></div>
                </div>
                <div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg" style="margin-right:0px;">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png"/>
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg" style="margin-right:0px;">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="clearbox"></div>
                </div>
                <div id="recommend">
                    <div class="rtitle">特色公寓住宿</div>
                    <div class="rtitle" style="float:right;text-align: right;"><a href="/机票酒店/SearchResult" target="_blank">更多>></a></div>
                    <div class="clearbox"></div>
                </div>
                <div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg" style="margin-right:0px;">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="showimg" style="margin-right:0px;">
                        <img src="/Images/build.png" />
                        <div class="hotelname">【世纪城新会展】成都隐庐酒店</div>
                        <div class="hoteladdress">成都市高新区盛兴街57号（天府国际社区7号楼）</div>
                        <div class="hoteladdress" style="color:#ff0000;">￥750起</div>
                    </div>
                    <div class="clearbox"></div>
                </div>
            </div>
        </div>
    </div>
