
@{
    ViewBag.Title = "入库供应商陈列";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("Part_HotProduct", "供应商陈列")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_GysList_Inlib", "供应商陈列")
    </div>
</div>