<div class="layout_otherbox">
    <div class="layout_othercontentbox">
         <div class="footer_nav">
             <ul>
                 <li><a>关于我们</a></li>
                 <li><a href="/首页/OnlineSever" target="_blank">联系我们</a></li>
                 <li><a>人才招聘</a></li>
                 <li><a>商家入驻</a></li>
                 <li><a>广告服务</a></li>
                 <li class="last"><a>手机军采</a></li>
             </ul>                    
         </div>
        <div class="footer_note">
            主管单位：成都军区联勤部军需物资油料部物资采购管理处<br />
            合作单位：中国人民解放军78505部队<br />
            技术支持：成都精睿信息技术有限公司<br />
            联系电话：4006826181 <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1252954645'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1252954645%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            ICP备案编号:蜀ICP备14016694号-1
        </div>
    </div>
</div>