<div class="layout_otherbox">
    <div class="layout_othercontentbox">
        <div class="footer_note">
            主管单位：成都军区联勤部军需物资油料部物资采购管理处<br />
            合作单位：中国人民解放军78505部队<br />
        </div>
    </div>
</div>