<link rel="stylesheet" href="../css/index.css" type="text/css">

<div class="gys_xttz_box">
    <div class="gys_xttz_topbox">
        @*<div class="index_bottom_zb_top_left_or_right"> <img src="../images/index_content_left.jpg" /> </div>*@
        <div class="gys_xttz_topbg">
            <div class="index_bottom_zb_top_title">我的招投标-订阅管理</div>
        </div>
        @*<div class="index_bottom_zb_top_left_or_right"> <img src="../images/index_content_right.jpg" /> </div>*@
    </div>
    <div class="gys_xttz_contentbox">
        <div class="gys_ztbsearch_classbox">
            <div class="gys_ztbsearch_class">分类：</div>
            <a href="#">全部</a>
            <a href="#">招标</a>
            <a href="#">中标</a>
            <a href="#">更正</a>
            <a href="#">流标</a>
            <a href="#">废标</a>
            <a href="#">其他</a>
        </div>
        <div class="gys_ztbsearch_classbox">
            <div class="gys_ztbsearch_class">分类：</div>
            <a href="#">全部</a>
            <a href="#">招标</a>
            <a href="#">中标</a>
            <a href="#">更正</a>
            <a href="#">流标</a>
            <a href="#">废标</a>
            <a href="#">其他</a>
        </div>
        <div class="gys_ztbsearch_classbox">
            <div class="gys_ztbsearch_class">分类：</div>
            <a href="#">全部</a>
            <a href="#">招标</a>
            <a href="#">中标</a>
            <a href="#">更正</a>
            <a href="#">流标</a>
            <a href="#">废标</a>
            <a href="#">其他</a>
        </div>
        <div class="gys_ztbsearch_search">
            <div class="gys_ztbsearch_class">内容：</div>
            <div class="gys_ztbsearch_searchdiv">
                <input type="text" class="gys_ztbsearch_search_text" />
                <input type="button" class="gys_ztbsearch_search_botton" value="添加" />
            </div>
        </div>
    </div>



    <div class="gys_znxx_content">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <th width="80%">已订阅</th>
                <th width="20%"></th>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
            <tr>
                <td>电脑、办公/电脑整机、笔记本</td>
                <td><a href="#">删除</a></td>
            </tr>
        </table>
    </div>
</div>
