@model Go81WebApp.Models.数据模型.内容数据模型.公告
<link rel="stylesheet" href="~/css/index.css" type="text/css">
<style>
    table {
        border: 1px solid gray;
        border-right: none;
        border-bottom: none;
        margin-left: auto;
        margin-right: auto;
    }

        table tr td {
            border: 1px solid gray;
            border-top: none;
            border-left: none;
        }
</style>

<div class="gys_xttz_topbox">
    <div class="gys_xttz_topbg">
        <div class="index_bottom_zb_top_title">公告详情</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="gys_xttz_contentbox">
        <div class="gys_xttz_contentbox_news_title">@Model.内容主体.标题</div>
        <div class="gys_xttz_contentbox_news_from">@Model.内容主体.发布时间</div>
        <div class="gys_xttz_contentbox_news_text">@Html.Raw(Model.内容主体.内容)</div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#公告查询").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#公告查询").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    $(document).ready(function () {
            $("table tr td:first").css("width", "200px");
    });
</script>
