<link rel="stylesheet" href="../css/index.css" type="text/css">

<div class="gys_znxx_box">
    <div class="gys_znxx_topbox">
        <div class="gys_znxx_topbg">
            <div class="index_bottom_zb_top_title">添加·更新</div>
        </div>
    </div>
    <div class="gys_znxx_contentbox">
        <div class="gys_spgl_detail_leftbox">
            <div class="gys_spgl_detail_left">
                <font class="gys_spgl_detail_title">商品图片</font>
                <div class="gys_spgl_detail_imgbox"><img src="../images/gys_spgl_businesspic.jpg" width="238" height="198" /></div>
                <input type="button" class="gys_spgl_detail_updatebotton" value="更新" />
                <input type="button" class="gys_spgl_detail_deletebotton" value="删除" />
            </div>
        </div>
        <div class="gys_spgl_detail_right">
            <font class="gys_spgl_detail_title">商品系数</font>
            <table width="430px" cellpadding="0" cellspacing="0" border="1px" bordercolor="#bbbbbb">
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">主体</td>
                </tr>
                <tr>
                    <td width="85px">品牌</td>
                    <td width="345px">惠普</td>
                </tr>
                <tr>
                    <td>系列</td>
                    <td>CQ45</td>
                </tr>
                <tr>
                    <td>型号</td>
                    <td>CQ45-m02tx</td>
                </tr>
                <tr>
                    <td>颜色</td>
                    <td>黑色</td>
                </tr>
                <tr>
                    <td>平台</td>
                    <td>Intel</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">操作系统</td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>FreeDos系统</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">主体</td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td>惠普</td>
                </tr>
                <tr>
                    <td>系列</td>
                    <td>CQ45</td>
                </tr>
                <tr>
                    <td>型号</td>
                    <td>CQ45-m02tx</td>
                </tr>
                <tr>
                    <td>颜色</td>
                    <td>黑色</td>
                </tr>
                <tr>
                    <td>平台</td>
                    <td>Intel</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">操作系统</td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>FreeDos系统</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">主体</td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td>惠普</td>
                </tr>
                <tr>
                    <td>系列</td>
                    <td>CQ45</td>
                </tr>
                <tr>
                    <td>型号</td>
                    <td>CQ45-m02tx</td>
                </tr>
                <tr>
                    <td>颜色</td>
                    <td>黑色</td>
                </tr>
                <tr>
                    <td>平台</td>
                    <td>Intel</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">操作系统</td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>FreeDos系统</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">主体</td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td>惠普</td>
                </tr>
                <tr>
                    <td>系列</td>
                    <td>CQ45</td>
                </tr>
                <tr>
                    <td>型号</td>
                    <td>CQ45-m02tx</td>
                </tr>
                <tr>
                    <td>颜色</td>
                    <td>黑色</td>
                </tr>
                <tr>
                    <td>平台</td>
                    <td>Intel</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">操作系统</td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>FreeDos系统</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">主体</td>
                </tr>
                <tr>
                    <td>品牌</td>
                    <td>惠普</td>
                </tr>
                <tr>
                    <td>系列</td>
                    <td>CQ45</td>
                </tr>
                <tr>
                    <td>型号</td>
                    <td>CQ45-m02tx</td>
                </tr>
                <tr>
                    <td>颜色</td>
                    <td>黑色</td>
                </tr>
                <tr>
                    <td>平台</td>
                    <td>Intel</td>
                </tr>
                <tr>
                    <td colspan="2" class="gys_spgl_detail_tabletitle">操作系统</td>
                </tr>
                <tr>
                    <td>操作系统</td>
                    <td>FreeDos系统</td>
                </tr>
            </table>
        </div>
    </div>
</div>
