<h4 style="color:red; margin:10px 0 10px 0;">标书信息：</h4>
@if (ViewData["检查状态"] != null && ViewData["检查状态"] == "1")
{
    if (ViewData["标书信息"] != null)
    {
        var biaoshu = (Go81WebApp.Models.数据模型.项目数据模型.招标采购预报名._标书信息)ViewData["标书信息"];
        if (!string.IsNullOrWhiteSpace(biaoshu.备注))
        {
            <div style="width:600px; margin:0 auto; height:auto; overflow:hidden;">
                <div style="width:50px; float:left; text-align:right;"><b>备注：</b></div>
                <div style="width:550px; float:left;">@biaoshu.备注</div>
            </div>
        }

        if (biaoshu.内容 != null)
        {
            
            <div style="width:600px; margin:0 auto;  height:auto; overflow:hidden; padding-top:10px;">
                <div style="width:50px; float:left; text-align:right;"><b>附件：</b></div>
                <div style="width:550px; float:left;">
                    @for (var i = 0; i < biaoshu.内容.Count; i++)
                    {
                        <div style="width:550px; margin:0 auto; height:auto; overflow:hidden;"><a style="text-decoration:underline; height:25px; line-height:25px;" href="@biaoshu.内容[i]" target="_blank" title="点击下载标书附件@(i+1)">点击下载标书附件@(i + 1)</a></div>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <div style="color:red;width:600px; margin:0 auto;">未获取到标书信息！</div>
    }
}
else
{
        <div style="color:red;width:600px; margin:0 auto;">@ViewData["错误信息"]</div>
}
