
@{
    ViewBag.Title = "业务培训列表";
    
}
<div class="front_outdiv">
    @if (WebApiApplication.IsIntranet)
    {
        <div class="front_outdiv_right">
            @Html.Action("Part_OtherList", "业务培训")
        </div>
        <div class="front_outdiv_left">
            @Html.Action("Part_TrainingList", "业务培训")
        </div>
    }
    else
    {
        <div class="front_outdiv_left">
            @Html.Action("Part_TrainingList", "业务培训")
        </div>
        <div class="front_outdiv_right">
            @Html.Action("Part_OtherList", "业务培训")
        </div>
    }
    
</div>

