<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Go81WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="默认主题" value="默认主题" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="上传文件根路径" value="~/App_Uploads/" />
    <add key="公告每页显示条数" value="15" />
    <add key="新闻每页显示条数" value="15" />
    <add key="通知每页显示条数" value="15" />
    <add key="政策法规每页显示条数" value="15" />
    <add key="站内消息每页显示条数" value="15" />
    <add key="商品每页显示条数" value="20" />
    <add key="供应商陈列每页显示条数" value="10" />
    <add key="后台商品列表商品每页显示条数" value="10" />
    <add key="后台供应商每页显示条数" value="20" />
    <add key="后台推送消息每页显示条数" value="5" />
    <add key="后台投诉每页显示条数" value="20" />
    <add key="下载每页显示条数" value="20" />
    <add key="用户组每页显示个数" value="4" />
    <add key="抽取列表每页显示个数" value="5" />
    <add key="单位用户每页显示个数" value="10" />
    <add key="验收单每页显示条数" value="10" />
    <add key="协议采购商品每页显示条数" value="10" />
    <add key="后台审核供应商列表每页显示条数" value="10" />
    <add key="企业主页商品展示B类窗口商品个数" value="200" />
    <add key="企业主页商品展示C类窗口商品个数" value="80" />
    <add key="企业主页商品展示D类窗口商品个数" value="60" />
    <add key="企业主页商品展示E类窗口商品个数" value="40" />
    <add key="企业主页商品展示F类窗口商品个数" value="20" />
    <add key="企业主页商品展示G类窗口商品个数" value="8" />
    <add key="Mongo服务器IP" value="192.168.1.103" />
    <add key="Mongo服务器端口" value="27017" />
    <add key="Mongo账号" value="go81" />
    <add key="Mongo密码" value="123456" />
    <add key="Mongo数据库名" value="go81" />
    <add key="页面静态化更新时间" value="15" />
    <add key="微信AppID" value="wxc66c4b0f95739b5b" />
    <add key="微信AppSecret" value="a45fba7612688d45389995dc52517ef7" />
    <!--短信接口常量-->
    <add key="企业编号" value="211466" />
    <add key="用户名称" value="cd_jr" />
    <add key="用户密码" value="xx2001" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" maxRequestLength="1024000" />
    <authentication mode="Forms">
      <forms name=".G8AUTH" loginUrl="~/登录/Login" timeout="60" protection="All" />
    </authentication>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
       <requestFiltering>
              <requestLimits maxAllowedContentLength="400000000" />
       </requestFiltering>
   </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <staticContent>
            <mimeMap fileExtension=".7z" mimeType="application/octet-stream" />
        </staticContent>
  </system.webServer>
</configuration>
