<link rel="stylesheet" type="text/css" href="~/css/css.css" />
<div class="class_tree">
    <ul>
        <li class="class_tree_first_tittle"><span>军采通</span></li>
        <li>
            <ul>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/pushmsg">信息推送</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/purchaseInfo" title="即将上线，敬请期待...">独家采购信息</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/Project_Management">项目管理</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" title="即将上线，敬请期待..." href="/jct/Assistance" class="scan">商务小助手</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/Credit_Service">信用服务</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a href="###" title="即将上线，敬请期待......">金融服务</a></li>@*/jct/finance_service*@
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a href="###">大数据支持</a></li>@*/jct/PublicDdc*@
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a title="即将上线，敬请期待......" href="">网上采购</a></li>@*/jct/PurchaseOnline*@
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a href="###" title="即将上线，敬请期待......">安全证书</a></li>@*/jct/Security*@
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/PublicPurBusiness">企业推广</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/buildWebsite">企业建站</a></li>
                <li class="class_tree_second_title"><span>&nbsp;&nbsp;</span><a target="_blank" href="/jct/vipService">个人频道</a></li>
            </ul>
        </li>  
    </ul>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("div.Page8").addClass("on");
    });
</script>