
@{
    ViewBag.Title = "新闻详情";
    
}
<div class="front_outdiv">
    @if (WebApiApplication.IsIntranet)
    {
        <div class="front_outdiv_right">
            @Html.Action("Part_OtherList", "新闻")
        </div>
        <div class="front_outdiv_left">
            @Html.Action("Part_NewsDetail", "新闻")
        </div>
    }
    else
    {
        <div class="front_outdiv_left">
            @Html.Action("Part_NewsDetail", "新闻")
        </div>
        <div class="front_outdiv_right">
            @Html.Action("Part_OtherList", "新闻")
        </div>
    }
    
</div>

