
@{
    ViewBag.Title = "消息订阅";
    Layout = "_BackLayout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/css/css.css" />
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Book_Msg", "供应商后台")
    </div>
</div>


