
@{
    ViewBag.Title = "招投标公告查询-公开采购";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Gys_Ztb_Search_Cg", "供应商后台")
    </div>
</div>