@{
    ViewBag.Title = "站内消息-发新消息";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Gys_ZnxxAdd", "供应商后台")
    </div>
</div>
