
@{
    ViewBag.Title = "添加新商品";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Gys_Product_AddStep1", "供应商后台")
        @*<div style="width: 300px; margin: 0 auto; font-size: 40px; color: red; margin-top: 100px; text-align: center; font-weight: bold;">
            升级中
        </div>*@
    </div>
</div>
