
@{
    ViewBag.Title = "商品详情";
    Layout = "_BackLayout.cshtml";
    
}

<div class="layout_maincontent_box" style="position:relative">
    <table width="1200">
        <tr>
            <td width="940" style=" vertical-align:top;">@Html.Action("Part_Gys_Product_Detail", "供应商后台")</td>
        </tr>
    </table>
</div>


