
@{
    ViewBag.Title = "修改密码";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
       @Html.Action("Part_Vip_Pwd_Manage", "供应商后台")
    </div>
</div>

