@using Go81WebApp.Models.数据模型.项目数据模型
@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
@model Go81WebApp._Code.Models.数据模型.微信数据模型.入库申请用户
@{
    Layout = null;
}
<html>
<head>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/JS/provinceandcity_all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>西南物资采购网评审专家入库申请</title>
    <link href="~/css/WeChat.css" rel="stylesheet" />
</head>
<body class="linearcolor">
    <div class="outbox" style="background-color:transparent;">
        <h3 style="text-indent:2em;">成都军区联勤部军需物资油料部授权发布</h3>
        <p style="text-indent:2em;">
            西南物资采购网（<a href="http://www.go81.cn">www.go81.cn</a>）是由成都军区联勤部军需物资油料部正式授权发布，主要面向整个成都军区部队单位和官兵个人进行招标采购信息发布、物资采购以及个人会员服务等综合服务保障的国际互联网平台系统，是成都军区物资招标采购信息的专业发布平台，也是成都军区物资采购供应商和评审专家入库申请的网上通道。
            网站自2014年8月1日上线至2015年5月，已拥有入网供应商600多家，入网评审专家1000余名，发布各类标讯信息2000余条，收录各类商品信息近万个，涉及总金额上百亿元。
        </p>
        <h3 style="text-indent:2em;">成都军区物资采购供应商库和评审专家库的申请平台</h3>
        <p style="text-indent:2em;">
            西南物资采购网（<a href="http://www.go81.cn">www.go81.cn</a>）是供应商申请加入成都军区物资采购供应商库的专业网上通道，也是评审专家申请加入成都军区物资采购评审专家库的专业网上通道。凡是满足入库条件的供应商和评审专家都可以登录网站，按入库须知所示进行入库申请。
        </p>
        <div style="border-top:1px solid black;padding-top:10px;">
            <div>
                注册及入库须知，请登录：<a href="http://www.go81.cn">www.go81.cn</a>
            </div>
            <div>
                <div class="about_left">客服电话：</div>
                <div class="about_left">
                    <div>028-68308761,</div>
                    <div>028-69908681,</div>
                    <div>400-6826-181</div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <div class="about_left">在线客服：</div>
                <div class="about_left">
                    <div>客服QQ1：2803407183 </div>
                    <div>客服QQ2：2310390260 </div>
                    <div>客服QQ3：3272332857</div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <div class="about_left">电子邮箱：</div>
                <div class="about_left">2803407183@qq.com</div>
                <div style="clear:both;"></div>
            </div>
            <div>
                <div class="about_left">工作时间：</div>
                <div class="about_left">周一至周五9：00-17：30，法定节假日除外</div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</body>
</html>