@{
    ViewBag.Title = "军采通";
    Layout = "~/Views/默认主题/_Shared/_Layout.cshtml";
}
<div class="bg_outdiv" style="width:85%; padding:20px; line-height:30px; margin:0px auto; box-shadow:0px 10px 15px #C3C3C3;-webkit-box-shadow:0px 10px 15px #C3C3C3;-moz-box-shadow:0px 10px 15px #C3C3C3;filter:progid:DXImageTransform.Microsoft.Shadow(color=#C3C3C3,direction=135,strength=5);">
    <h1 style="text-align:center; text-shadow:0px 1px 1px gray;">
        西南物资采购网军采通会员服务协议
    </h1>
    <p style="background-color:#E78E8E; color:white; text-shadow:0px 1px 1px gray; text-indent:0.2em;">付款信息：</p>
    <p style="color:red;">
        <div>A类：军采通商务会员年度服务费：1288元/年</div>
        <div>B类：军采通标准会员年度服务费：688元/年</div>
        <div>C类：军采通基础会员年度服务费：360元/年</div>
        <div>订购方可自行选择会员类型，并享受相应的增值服务，具体服务项目以订购合同为准。</div>
        
    </p>
    <p style="background-color:#E78E8E; color:white; text-shadow:0px 1px 1px gray; text-indent:0.2em;">
        军采通会员服务协议的普遍适用条款：
    </p>
    <p style="font-size:14px; font-weight:bold;">1.接受条款</p>
    <div style="text-indent:2em;">
        欢迎使用成都精睿信息技术有限公司（以下简称“成都精睿信息”或“服务提供方”）所提供的西南物资采购网军采通会员服务，包括军采通基础会员服务、军采通标准会员服务和军采通商务会员服务（以下简称“服务”）。以下所述条款和条件即构成您与成都精睿信息就使用服务所达成的协议。一旦您使用了该服务，即表示您已接受了以下所述的条款和条件。如果您不同意接受全部的条款和条件，那么您将无权使用该服务。当您阅读此协议完毕，并在“已阅读并同意以下协议”前打勾，即表示您已理解协议内容并同意受服务协议条款的约束，包括但不限于本协议、西南物资采购网现有的及不时更新的或新发布的会员服务条款和隐私权政策以及其他各项规划、制度等。
    </div>
    <div style="text-indent:2em;">
        成都精睿信息有权随时修改和（或）补充前述条款和条件，并只需公示于其网站，而无需征得您的事先同意，修改后的条款应于公示即时生效。在修改服务条款后，您继续使用服务应被视作您已接受了修改后的条款。除非得到成都精睿信息的书面授权，任何人将不得修改本协议。
    </div>
    <div style="text-indent:2em;">
        本协议中，使用军采通会员服务（包括军采通基础会员服务、军采通标准会员服务和军采通商务会员服务）的用户均简称为“军采通会员”或“您”。请注意，本协议限制了成都精睿信息的责任，成都精睿信息不对服务做任何保证；本协议还限制了您的救济，相关条款见第9条，成都精睿信息督促您仔细阅读。
    </div>
    <p style="font-size:14px; font-weight:bold;">2.服务内容</p>
    <div>
        2.1 成都精睿信息为您提供的服务可能包括以下功能的部分或全部（具体以双方的订购合同为准）（下述功能随时可能因成都精睿信息的单方判断而被增加或修改，或因定期、不定期的维护而暂缓提供。）
        </div>
    <div>
        a)	安全认证服务
        <div style="text-indent:2em;">
            通过成都精睿信息的安全技术服务，您可以使用安全证书进行各类在线业务操作，以确保账户信息与交易信息的安全性。目前开通的在线业务包括验收单管理和下载电子标书。
            *安全认证的前提：身份认证
            如果您是企业用户，您需要对您在申请服务时的如下信息负责：
            <br />i.	登记的公司在工商部门具有真实、合法、有效注册记录；
            <br />ii.	登记的公司在本网站上填写及上传的所有信息（包括企业信息和商品信息）属实；
            <br />iii.	所登记的联系人在公司的业务身份属实；
            <br />iv.	 所登记的联系人已获得公司授权购买和使用服务；
            因您在使用西南物资采购网军采通会员服务时，已通过成都精睿信息审核，并查证了有关您的以下信息：
            <br />i.	提供的中国居民身份证信息；
            <br />ii.	提供的工商注册信息。
        </div>
        
    </div>
    <div style="text-indent:2em;">故您在申请本服务时，是否需要继续查证，则以成都精睿信息要求为准。</div>
    b)企业推广服务
    <br />i.	由西南物资采购网提供空间，通过成都精睿信息的技术服务，您可在指定位置展示商业信息，包括文字描述、图片或照片说明等。并可以通过成都精睿信息提供的技术服务在西南物资采购网指定位置（包括首页、企业主页、供应商库列表页、商品展示页面等）实现更加生动、更个性的展示。但成都精睿信息不对上述信息的真实性、合法性、准确性或及时性、完整性负责。
    <br />ii.	由西南物资采购网提供空间，通过成都精睿信息的技术服务，您可识别您在西南物资采购网上发布商品的双网点击率，可直观展示商品的关注趋势和订购效果，并进行统计分析。但成都精睿信息不对上述信息的真实性、合法性、准确性或及时性、完整性负责。
    <br />iii.	由西南物资采购网提供空间，通过成都精睿信息的技术服务，您可以将现有的商品数据库实现直接对接，方便商品数据的管理。
    <br /><em>* 上述部分推广服务不含在军采通会员服务中，需按照项目单独另行计费。可详询网站客服。</em>
  
<br />
    c)信息推送服务<br />
    <div style="text-indent:2em;">您有权通过西南物资采购网平台接收站内消息、短信、电子邮件、微信消息，或自主订阅采购机构在西南物资采购网发布的各类采购信息；但成都精睿信息不对该信息的真实性、合法性、准确性或完整性和及时性负责。</div>
    d)商务助手服务
    <div>
        i.由西南物资采购网提供空间，通过成都精睿信息的技术服务，您可以管理更多的商品分类；但成都精睿信息不对该商品分类中上传的商品信息的真实性、合法性、准确性或完整性和及时性负责。
        <br />ii.	由西南物资采购网提供空间，通过成都精睿信息的技术服务，您可以使用批量上传工具，方便快捷地进行企业商品维护。
        <em>
            * 军采通会员服务只包含部分功能，更多功能需按照项目单独另行计费。
            可详询网站客服。
        </em>
</div>
    e)一对一客户服务（工作时间内）
    <div>
        工作时间内（周一至周五，8：30-17：30，法定节假日除外），您有权通过西南物资采购网平台，接受专属客服为您提供的一对一客户服务。
    </div>
    f)网站信用认证服务
    <div style="text-indent:2em;">
        由西南物资采购网提供空间，通过成都精睿信息提供的技术服务，从与您真实发生业务关系的采购机构获得相关评论与反馈，采购机构对您此次的服务做出评价后，您可获得相应的信用积分。但您应保证该评论和反馈的真实性、合法性、准确性、完整性和及时性。成都精睿信息不对该评论和反馈的真实性、合法性、准确性、完整性和及时性负责。您获得的信用积分一方面将作为未来评估企业长期信用的有力参考；另一方面也将作为日后您申请升级服务的优势凭证。
    <br /><em>* 您若需要增加第三方信用认证需单独另外付费。可详询网站客服。</em>
    </div>
    <div style="text-indent:2em;">但，无论您是否为军采通会员，成都精睿信息均有权了解您的其他信息的合理性，您应履行配合义务，否则，成都精睿信息有权拒绝提供服务。同样，服务期内，您应始终保持您的主体身份真实、合法、有效，若您的在网站上申请账号时所填写的公司经营信息发生任何变更，您应及时通知成都精睿信息后，仍须依程序再次认证核实。若您所登记的联系人发生变更，您应保证变更后的联系人仍须为您的企业员工，且业务身份属实，您同意授权变更后的联系人继续使用军采通会员服务。您同意为您的未及时通知或更新等承担全部责任，如因此而给成都精睿信息（包括其合作伙伴、代理人、职员等）造成损失的，您同意赔偿全部损失（包括律师费）。</div>
    <div style="text-indent:2em;">
        您同意自行承担由于使用服务所获知信息而产生的全部商业风险。成都精睿信息确认服务的上述功能构成本协议所述服务的主要部分，该服务未得到会员的同意前不会全部终止或全部变更，但本协议约定情形出现的除外。
    </div>
    <div>2.2上述服务内容为军采通会员服务的普遍项目，具体服务项目以会员与成都精睿信息签订的正式订购合同为准。</div>
    <div>2.3本服务仅向能够根据相关法律订立具有法律约束力合约的主体提供，故您若为企业用户，则您须为商业或经济组织（如有限公司，股份公司，合伙企业，独资企业等）或经营性个人（如个体工商户、农村承包经营户）等具有独立的名称、地址并能够通过企业身份认证的主体（非外资独资或控股国内企业）；若您为个人用户，则您须应确认本人已满十八周岁，具有完全民事权利能力和行为能力，且能够通过认证人的认证。</div>
    <div>2.4成都精睿信息收到您的申请要求后，将通过客服人员与您详细确认服务内容，并签订订购合同，您需要在合同签订后三个工作日内向成都精睿信息付款，成都精睿信息在收到您的付款后，认购方款项到达成都精睿信息账户之日起7个工作日内为认证期，您所认购的军采通会员服务，将在军采通会员第一次激活U盾之日起生效；您所订购的推广及单项增值服务，将通过您在注册时提供的电子邮件地址通知您，自您收到该确认邮件之日起生效。</div>
    <div>2.5成都精睿信息根据会员账号、密码和安全认证U盾确认使用服务的会员的身份。军采通会员理解并明确表示通过其会员账号、密码和安全认证U盾进行的任何操作（包括但不限于发布信息资料、在线采购业务、网上点击同意或提交各类规则协议、网上续签协议或购买其他服务等）均应被视为军采通会员行为，其法律后果由军采通会员承担。会员应妥善保管会员账号、密码和安全认证U盾，并对其使用，包括遗失承担责任。会员承诺，其账号或密码或安全认证U盾遭到未获授权的使用，或者发生其他任何安全问题时，将立即通知成都精睿信息。会员在此同意并确认，成都精睿信息对上述情形产生的遗失或损害不负责任。</div>
    <div>2.6在服务期满前，如您希望变更或事实上已经变更已获认证和查证的信息，则应在身份认证信息第（ⅰ）项发生变更之日起一个月内按要求向成都精睿信息提交“信息变更的再次认证申请”并付清相关费用后，将得到再次认证。您同意对您所提供的变更后的信息负全部责任，并同意按本协议5.1条程序付款。如您未及时提交变更信息或未付清款项或所变更信息未经认证通过，成都精睿信息有权中止或终止向您提供服务，或中止、终止您的账号，中止期间服务期不予顺延，终止服务则成都精睿信息有权不予退还服务费用。</div>
    <div>2.7成都精睿信息、其合作伙伴对军采通会员使用服务所提供的任何信息的真实性、合法性、准确性、及时性和完整性不作保证和承诺。此外，身份认证和查证仅表明认证及查证当时的情况，对此后的变更，成都精睿信息不应负责。</div>
    <div>2.8成都精睿信息保留在任何时候自行决定对服务及其相关功能、应用软件变更、升级、修改、转移的权利。成都精睿信息进一步保留在服务中开发新的模块、功能和软件或其它语种服务的权利。上述所有新的模块、功能、软件服务的提供，除非成都精睿信息另有说明，否则仍适用本协议。</div>
    <div style="font-size:14px; font-weight:bold;">3.所购服务期限</div>
    <div>
        3.1军采通会员服务有效期一年，自服务开通日起算。会员凡购买军采通会员服务，其期限不得少于一年。
    </div>
    <div>
        3.2	若成都精睿信息在服务期满之日前未收到会员全部的续订款，则其军采通会员服务将不需事先通知而被立即终止。
    </div>
    <div>
        3.3本协议所述服务仅在西南物资采购网简体中文网站范围内有效。西南物资采购网简体中文网站范围是指www.go81.cn及其所有下级域名所指向的网站和这些网站所属网页。
    </div>
    <p style="font-size:14px; font-weight:bold;">4.续签</p>
    <div>
        <div>
            4.1军采通会员购买服务满一年，可于服务届满前向西南物资采购网提出续签服务申请，但是否被接受须以西南物资采购网意见为准。
        </div>
        <div>
            4.2续签会员须在经西南物资采购网接受以后并在原服务期限届满之日前，向成都精睿信息全额支付下一年度服务费。
        </div>
    </div>
    <p style="font-size:14px; font-weight:bold;">5.服务费</p>
    <div>
        5.1	接受服务所需支付的服务费将在网站上公布。所有的费用将通过银行转账或其它成都精睿信息接受的方式事先支付。会员所支付的可以是人民币，或其它经成都精睿信息许可的货币，所有的付款均不作退还。您应在正式订购合同签订后3个工作日内，按合同约定方式向成都精睿信息支付全部款项。
    </div>
    <div> 5.2上述服务费不包含其它任何税款、费用或相关邮寄、装卸等支出，否则会员应补足付款或自行支付该费用。</div>
    <div>5.3成都精睿信息保留随时单方修改价格构成和支付条件的权利，并至少提前14天通知会员。</div>
    <div>5.4会员在服务开通到期满续约之前，不受在此期间西南物资采购网调整服务价格的影响。</div>
    <p style="font-size:14px; font-weight:bold;">6.军采通会员义务</p>
    <div>
        6.1军采通会员在此声明、保证并同意：
        <br />a)提供真实，准确、及时、完整的信息，包括会员自身及会员的推荐会员的相关资料；
        <br />b)维护并及时更新上述资料，以保证其真实，准确，及时和完整性。 会员在此授予西南物资采购网永久的、不可撤销的、全球的和免费的使用许可权，包括其代理人、雇员、服务提供商和其他提供必要技术和服务的合作人(包括但不限于认证人)，即，其有权使用会员根据本协议和军采通会员服务协议所述而提供的资料和信息。会员进一步同意其一旦将信息或资料在使用服务时提供，则表示同意放弃对此信息或资料所享有的版权和相关财产权利。
        <br />c)如果会员提供的信息不真实、不准确、不及时或不完全，或成都精睿信息有合理的理由怀疑其真实性、准确性、及时性和完整性，则成都精睿信息有权中止或终止会员的会员资格并拒绝会员使用任何现有的服务及以后可能提供的功能或服务。
        <br /> 6.2军采通会员在此声明并保证所提供的信息和产品不应包含以下内容：
        <br />a)欺诈、提供虚假要约、销售或试图销售假冒伪劣及盗窃的物品以及其它法律法规限制或禁止销售及推广的物品； 
        <br />b)侵犯或教唆他人侵犯第三方的版权、专利、商业秘密或其它合法权利；
        <br />c)违反相关法律、法规、规章或决定(包括但不限于国家出口限制，消费者保护，不正当竞争和歧视或虚假广告)；
        <br />d)侮辱、诽谤，恐吓或非法骚扰等内容；
        <br />e)淫秽，或包含任何儿童色情内容；
        <br />f)种族，性别，地区，民族，生理残疾等歧视性或倾向性内容 ；
        <br />g)蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序。
        <div>
            6.3军采通会员根据本协议使用服务所发布的任何信息或提供的任何资料都必须符合西南物资采购网当时及此后公示的发布须知及相关文字说明。
        </div>
        <div>
            6.4军采通会员同意仅为本人与第三方间进行真实的商务沟通或与其他会员联络的目的而使用西南物资采购网的服务，同意不以各种形式从事信息代理、中介等，否则，成都精睿信息有权随时终止服务并不予退返服务费。成都精睿信息保留追究违约会员相关责任的权利。
        </div>
        <div>
            6.5军采通会员进一步声明，保证并同意其以商业伙伴名义所提供，张贴的信息，应事先得到该商业伙伴许可并同意如下：
        </div>
        <div>
            a) 作为军采通会员的相关推荐入网会员；
        </div>
        <div>
            b) 张贴其具体的联系方式，推荐子账号和评论；
        </div>
        <div>
            c) 使第三方可与之联系并确认该评述。会员进一步保证推荐人评述的真实性和准确性，并放弃在第三方与会员的商业推荐人联系前须事先征得会员同意的权利。
        </div>
        <div style="text-indent:2em;">
            军采通会员同意并接受成都精睿信息无须时时监控会员通过服务所提供的信息资料内容，并针对上述事项进行编辑调整。成都精睿信息对军采通会员提供的资料、信息和评述不作确认，检验或其它任何形式的保证。每一个军采通会员都必须单独地为其通信内容的合法性负责，并对其提供的资料、信息或评述负全部责任。同时，成都精睿信息保留删除依据其自行判断确认具有违法性或违反本协议或军采通会员服务协议或具体的订购合同而可能致使成都精睿信息因此承担责任的任何内容。
        </div>
        <div style="text-indent:2em;">
            同时，军采通会员同意对因违反本协议或会员服务条款或具体的订购合同使用服务，而成都精睿信息未能及时张贴或删除该信息所致使的任何损失，包括其公司、雇员、代理人或代表人所遭受的全部损失进行赔偿，包括相关律师费、诉讼费等。军采通会员进一步同意，成都精睿信息没有义务，也不应对会员或第三方所张贴或提供的任何资料的真实性、准确性、误导、欺诈、诽谤、侵权或违法负责。如军采通会员因此而遭受损失，则应由军采通会员自行向张贴人要求赔偿，军采通会员放弃追究成都精睿信息责任的权利。
        </div>
        <div>
            6.6根据本协议或成都精睿信息的其它许可，军采通会员有权使用成都精睿信息提供的数据库和列表等技术服务。除此以外，其它使用或试图使用成都精睿信息的各种目录，数据库和列表用作商业性目的或复制，抄袭，进行大规模促销(包括但不限于发送垃圾邮件等)或其它未经许可的目的，将被强行禁止。
        </div>
        <p style="font-size:14px; font-weight:bold;">7.诚信经营</p>
        <div style="text-indent:2em;">
            7.1军采通会员承诺，其将恪守诚信经营原则，在军采通服务期内，如军采通会员有下列情形之一的，其完全同意成都精睿信息有权立即单方给与包括但不限于警告、公示、限权、终止服务等不同程度的处罚：会员权限期间服务费用（包括但不限于军采通服务费等下同）照常计算，且服务期不予延长。被终止服务的会员将在西南物资采购网网站上进行通告，成都精睿信息无需退还未履行的服务费用，同时无需承担任何违约责任。
        <div>a)涉嫌利用服务实施欺诈或其他违法行为的（成都精睿信息有权单方对此做出认定）；</div>
            <div>b)被任何第三方投诉，称在网站上发布的信息与实际不符或发布的商品有侵犯第三方合法权利的行为，且未能在成都精睿信息要求的合理期限内提供证据，或虽在上述期限内提供了证据，但未能充分证明其不存在上述行为的；</div>
            <div>c)未经成都精睿信息书面同意，擅自许可他人使用军采通会员服务或擅自将军采通会员服务转让或部分转让他人的（包括但不限于擅自许可他人使用其账号、密码和安全认证U盾，或擅自将其账号和密码转让或泄露给他人的），或售卖或要约售卖其通过军采通会员服务获知的买家及买家询盘等相关商业信息的；</div>
            <div>d)利用军采通会员服务或计算机病毒/程序等手段，非法窃取、删除、修改或增加西南物资采购网站或网站其他会员的任何信息，或以其他任何方式危害西南物资采购网站的正常运行的；</div>
            <div>e)存在成都精睿信息认定的其他不诚信行为的，或违反其他约定或网站规则的。</div>
        </div>
        <p style="font-size:14px; font-weight:bold;">8.服务的终止</p>
        <div>
            8.1成都精睿信息有权在下列情形下拒绝会员的订购或终止您的会员资格：
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a)会员违反了本协议或会员服务协议的任一条款； 
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b)根据本协议第三-2条和第五条而终止服务； 
            <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c)对于隐瞒其从事互联网服务的会员，成都精睿信息一经发现，有权立即终止服务。
        </div>
        <div>
            8.2如协议一方，除为重组或兼并的目的外，通过决议或由法院判令解散，则接收方或指定的债权人代表有权经通知后终止本协议。
        </div>
        <p style="font-size:14px; font-weight:bold;">9.有限责任</p>
        <div>
            9.1服务将按"现状"和按"可得到"的状态提供。成都精睿信息在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性，没有错误或疏漏、持续性、准确性、可靠性，适用于某一特定用途（如保证会员能与第三方达成采购协议等）之类的保证、声明或承诺。 成都精睿信息对服务所涉的技术和信息的有效性、准确性、正确性、可靠性、质量、稳定，完整和及时性均不作承诺和保证。
        </div>
        <div>9.2使用本服务下载或者获取任何资料的行为均出于用户的独立判断并自行承担风险。每一个会员独自承担因此对其电脑系统或资料灭失造成的损失。成都精睿信息对军采通会员的任何通知，不论是口头还是书面的，均不表示成都精睿信息做出在本协议陈述以外的任何担保责任。</div>
        <div>9.3 不论在何种情况下，成都精睿信息均不对由于Internet连接故障，电脑，通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，不可抗力，战争，政府行为，国际国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。</div>
        <div>9.4每一个用户均同意赔偿由于使用本服务（包括但不限于将用户资料展示在网站上）或违反本协议而给成都精睿信息造成的任何损失（包括由此产生的全额的诉讼费用和律师费）。每一个用户均同意成都精睿信息不对任何其他人张贴的资料，包括诽谤性的、攻击性的或非法的资料，承担任何责任；由于此类材料对其它用户造成的损失由用户自行全部承担。</div>
    <div>
        9.5	不论是否可以预见，不论是源于何种形式的行为，成都精睿信息不对由以下原因造成的任何特别的、直接的、间接的、惩罚性的、突发性的或有因果关系的损害或其他任何损害（包括但不限于利润或利息的损失，营业中断，资料灭失）承担责任。该条款可以扩展到法律所排斥的或不受法律约束的范畴：
        <div>a)使用或不能使用本服务；</div>
            <div>b) 通过本服务购买或获取任何商品，样品，数据，信息或进行交易等，或其他可替代上述行为的行为而产生的费用；</div>
            <div>c)未经授权的存取或修改数据或数据的传输；</div>
            <div>d) 第三方通过服务所作的陈述或行为；</div>
            <div>e) 其它因与服务相关事件，包括疏忽等，所造成的损害。</div>
        </div>
        <div>
            9.6无论何种情形，会员同意成都精睿信息对会员使用服务所致的损害的赔偿限额最高不超过会员当年度实际所支付的服务费。
        </div>
        <p style="font-size:14px; font-weight:bold;">10.知识产权</p>
        <div>
            10.1成都精睿信息技术有限公司是服务所有权利的拥有者。服务包含商业秘密和全世界范围内的版权和其它知识产权。服务的全部权利，包括所有权和知识产权将由成都精睿信息保留。其它本协议中未经提及的权利亦由成都精睿信息技术有限公司保留。
        </div>
        <div>
            10.2 未经成都精睿信息许可同意，用户不得以任何理由自行或委托第三方以任何方式使用成都精睿信息及其关联公司的企业名称、企业字号、商标、LOGO、活动品牌等内容从事任何活动，否则成都精睿信息有权立即单方面终止本协议，并有权要求用户赔偿全部损失（包括但不限于调查取证费用、公证费用、律师费等）。
        </div>
        <p style="font-size:14px; font-weight:bold;">11.其 他</p>
        <div>
            11.1 本协议取代双方就有关本协议所载任何事项于先前以口头及书面达成的共识。
        </div>
        <div>11.2本协议将受中国法律约束，并受成都精睿信息所在地人民法院管辖。</div>
        <div>11.3 如本协议的任何条款被视作无效或无法执行，则上述条款可被分离，其余部份则仍具有法律效力。</div>
        <div>11.4本协议的标题仅为方便阅读所设，非对条款的定义、限制、解释或描述其范围或界限。</div>
        <div>11.5成都精睿信息于会员过失或违约时放弃本协议规定的权利的，不得视为其对会员的其他或以后同类之过失或违约行为弃权。</div>
        <div>11.6争议解决方法：双方友好协商，也可请求调解，若调解不成，可申请中国境内仲裁机构仲裁。</div>
    </div>
    <div>
        <table width="100%">
            <tr>
                <td align="right"><a href="/jct/Applyvip?sure=true" style="display:block; width:80px; height:30px; border:1px solid red; text-align:center; line-height:30px; color:white; background-color:#E78E8E;">同意</a></td>
                <td align="left"><a href="/jct/Applyvip?sure=false" style="display:block; width:80px; height:30px; border:1px solid red; text-align:center; line-height:30px; color:white; background-color:#E78E8E;">不同意</a></td>
            </tr>
        </table>
    </div>
    </div>
<script type="text/javascript" language="javascript">
    $(".action_link").each(function () {
        if ($(this).text() == "军采通") {
            $(this).parent("div").addClass("on");
        }
    });
</script>