@{
    ViewBag.Title = "安全认证";
    Layout = "~/Views/默认主题/_Shared/_Layout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("Part_PublicPuRNav", "jct")
    </div>
    <div style="width:940px;margin-bottom:50px;" class="bg_outdiv_right">
        <div>
            <div style="color:#bb0202; width:200px; font-size:24px;">安全认证</div>
            <div style="text-indent:2em;">
                本网站为采购人和供应商提供数据交换服务，为确保双方交易信息的安全性、准确性和及时性，网站推出针对供应商用户的安全认证服务。成功申请安全认证，并申领操作U盾后，您即可以放心的在网站上进行操作，其他人即使知道您的账号和密码，不使用U盾都将不能进行相关操作。
                目前，网站开通的需要进行安全认证，并使用U盾密码操作的功能有：验收单管理、下载电子标书、商品管理等。
            </div>
            <div><a href="/jct/" style="display:block; width:200px ;height:30px; text-align:center; line-height:30px; border:1px solid red; background-color:#E78E8E; color:white; margin:0px auto;">了解更多军采通会员服务</a></div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(".action_link").each(function () {
        if ($(this).text() == "军采通") {
            $(this).parent("div").addClass("on");
        }
    });
</script>