
@{
    ViewBag.Title = "协议采购供应商目录";
}
<div style="height:auto; overflow:hidden; margin-bottom:5px;">
    <div class="prodtpage_leftbox" style="float:left; margin-top:5px;">
        @Html.Action("Part_Recommend", "协议采购")
    </div>
    @*<div id="top" style="margin-top: 5px; width: 949px; margin-left: 250px; margin-bottom: -6px;">
        <span style="display: inline-block; width:300px; border: 1px solid rgb(94, 111, 0); text-align: center;  padding: 5px; font-weight: bold;"><a style="font-family:'微软雅黑';display: inline-block; width:300px;" href="/协议采购/Index">通用办公物资协议采购目录</a></span>
        <span style="display: inline-block; width:300px; border: 1px solid rgb(94, 111, 0); text-align: center; background-color: rgb(94, 111, 0); margin-left: -5px;padding:5px; font-weight: bold;"><a style="font-family:'微软雅黑';display: inline-block; width:300px; color:white;"  href="/协议采购/Agreement_Gys">协议采购供应商目录</a></span>
    </div>*@
    <div class="prodtpage_rightbox" style="float:left; margin-top:5px;margin-left:9px;">
        <div id="top" style="margin-top: 4px; border-bottom:1px solid #999; height:33px;">
            <span style="display: inline-block;width:300px; text-align: center;margin-left:116px; padding: 5px; font-weight: bold; "><a style=" font-family:'微软雅黑';display: inline-block; width:300px;" href="/协议采购/Index">通用办公物资协议采购目录</a></span>
            <span style="display: inline-block; width:300px;background-color:#fff;height:23px; border: 1px solid #999; border-bottom:none; text-align: center; padding: 5px; font-weight: bold;"><a style=" font-family:'微软雅黑';display: inline-block; width:300px;" href="/协议采购/Agreement_Gys">协议供应商目录</a></span>
        </div>
        @Html.Action("Part_Agreement_Gys", "协议采购")
    </div>
</div>



