@{
    ViewBag.Title = "协议采购-首页";
}
<div style="height:auto; overflow:hidden; margin-bottom:5px;">
    <div class="prodtpage_leftbox" style="float:left; margin-top:5px;">
        @Html.Action("Part_Recommend", "协议采购")
    </div>
    
    <div class="prodtpage_rightbox" style="float:left; margin-top:5px;margin-left:10px;">
        @*<div id="top" style="margin-top: 4px; border-bottom:1px solid #999; height:33px;">
        <span style="display: inline-block;margin-left:170px; width:300px;background-color:#fff;height:23px; border: 1px solid #999; border-bottom:none; text-align: center; padding: 5px; font-weight: bold;"><a style=" font-family:'微软雅黑';display: inline-block; width:300px;" href="/协议采购/Index">通用办公物资协议采购目录</a></span>
        <span style="display: inline-block;width:300px; text-align: center;margin-left: -5px; padding: 5px; font-weight: bold; "><a style=" font-family:'微软雅黑';display: inline-block; width:300px;" href="/协议采购/Agreement_Gys">协议供应商目录</a></span>
    </div>
    @Html.Action("Part_GoodClass", "协议采购")*@
        @Html.Action("Part_Agreement_Gys", "协议采购")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            $(".action_link").each(function () {
                if ($(this).text() == "办公物资") {
                    $(this).parent("div").addClass("on");
                }
            });
        });
    });
</script>