
@{
    ViewBag.Title = "评审专家-编辑";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Expert_Edit", "专家抽选", new { id = ViewData["id"] })
    </div>
</div>