
@{
    ViewBag.Title = "查看抽取申请详情";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Expert_ApplayCancel", "专家抽选")
    </div>
</div>