@{
    Layout = null;
}
<html>
<head>
    <title>评审专家抽选系统</title>
    <script src="~/JS/jquery-1.6.min.js"></script>
    <script src="~/JS/applayapp.js" type="text/javascript"></script> 
    <link href="~/css/Intranet_p.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
    <style>
        .bg_outdiv_right {
            float: none;
        }
    </style>
</head>
<body style="text-align: center;">
    <div>
        <div class="bg_outdiv_right" style="margin:0 auto;padding: 30px 0;">
           @Html.Action("Part_Expert_History_DetailApp", "专家抽选", new { id = ViewData["id"] })
        </div>
    </div>
</body>
</html>