
@{
    ViewBag.Title = "我提交的评审专家抽取申请";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Expert_Applay_S", "专家抽选")
    </div>
</div>