
@{
    ViewBag.Title = "打印有效名单";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Gys_Choose_Print", "专家抽选")
    </div>
</div>