
@{
    ViewBag.Title = "添加网上竞标";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_OnlineBidding_Add", "单位用户后台")
    </div>
</div>