
@{
    ViewBag.Title = "公告列表";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Procure_AdAudit", "单位用户后台")
    </div>
</div>
<div style="width:100%;min-width:1304px; text-align:center; font-size:13px;">
    主管单位：成都军区联勤部军需物资油料部物资采购管理处<br />
    合作单位：中国人民解放军78505部队<br />
</div>
