
@{
    ViewBag.Title = "我推荐的评审专家";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Recommend_ExpertList", "单位用户后台")
    </div>
</div>