
@{
    ViewBag.Title = "审核推荐的供应商";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Recommend_GysList_Audit", "单位用户后台")
    </div>
</div>
