
@{
    ViewBag.Title = "预报名标书管理";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_SignUp_BiaoShu", "单位用户后台")
    </div>
</div>