
@{
    ViewBag.Title = "回复发送的消息";
    Layout = "_Back_IntranetLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Znxx_Sended_Detail", "单位用户后台")
    </div>
</div>