
@{
    ViewBag.Title = "内网专家库首页";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_default" style=" padding-left:0;">
        @Html.Action("Part_IndexIntranet", "专家库")
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(".action_link").each(function () {
            if ($(this).text() == "评审专家") {
                $(this).parent("div").addClass("on");
            }
        });
    });
</script>
