
@{
    ViewBag.Title = "客服-首页";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("Part_HotProduct", "供应商陈列")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_OnlineSever", "首页")
    </div>
</div>


