<div class="gys_xttz_topbox">
    <div class="gys_xttz_topbg" style="width:947px;">
        <div class="index_bottom_zb_top_title">客服列表</div>
    </div>
</div>
<div class="out_div">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="bot" rowspan="3">客服1号</td>
            <td class="lab">电话：</td>
            <td>028-68308761</td>
        </tr>
        <tr>
            <td class="lab">QQ：</td>
            <td>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2310390260&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2105595009:51" alt=" 点击这里给我发消息" title="点击这里给我发消息" /></a>
            </td>
        </tr>
        <tr>
            <td class="lab">E-mail：</td>
            <td class="">2310390260@qq.com</td>
        </tr>
        <tr>
            <td class="bot" rowspan="3">客服1号</td>
            <td class="lab">电话：</td>
            <td>4006826181</td>
        </tr>
        <tr>
            <td class="lab">QQ：</td>
            <td><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2803407183&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:2803407183:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></td>
        </tr>
        <tr>
            <td class="lab">E-mail：</td>
            <td class="">2803407183@qq.com</td>
        </tr>
        <tr>
            <td class="bot">传真</td>
            <td class="lab">传真号：</td>
            <td>028-83190790</td>
        </tr>
    </table>
</div>
