
@{
    ViewBag.Title = "评审专家-筛选";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Expert_Select", "专家")
    </div>
</div>
