
@{
    ViewBag.Title = "单位用户列表";
    Layout = "_BackLayout.cshtml"; 
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Depart_GysList", "运营团队后台")
    </div>
</div>