
@{
    ViewBag.Title = "下载管理";
    Layout = "_BackLayout.cshtml";
}

<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_DownloadManage", "运营团队后台")
    </div>
</div>

