@{
    ViewBag.Title = "商品目录管理";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_GoodClassify", "运营团队后台")
    </div>
</div>

