@{
    ViewBag.Title = "商品-已审核";
    Layout = "_BackLayout.cshtml";

}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_GoodExamine_Ed", "运营团队后台")
    </div>
</div>

