
@{
    ViewBag.Title = "一般推送信息修改页面";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_PushMessageUsModify", "运营团队后台")
    </div>
</div>

