
@{
    ViewBag.Title = "未处理推荐评审专家";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_Recommend_ExpertList_Pre", "运营团队后台")
    </div>
</div>

