
@{
    ViewBag.Title = "建议-未回复";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Requestion_Part_No_Replied", "运营团队后台")
    </div>
</div>

