
@{
    ViewBag.Title = "建议-已回复";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
       @Html.Action("Requestion_Replied_List", "运营团队后台")
    </div>
</div>

