
@{
    ViewBag.Title = "供应商提供资料详情";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_SignUp_Detail_Gys", "运营团队后台")
    </div>
</div>

