
@{
    ViewBag.Title = "投诉-未处理";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Suggestion_Part_NoPss", "运营团队后台")
    </div>
</div>

