
@{
    ViewBag.Title = "供应商信息管理-审核未通过原因";
    Layout = "_BackLayout.cshtml";
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Supplier_Nopss_Reason_Info", "运营团队后台")
    </div>
</div>

