
@{
    ViewBag.Title = "供应商信息管理-未审核";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("LeftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
       @Html.Action("Supplier_WaitInfo_List", "运营团队后台")
    </div>
</div>

