@{
    ViewBag.Title = "站内消息-已接收消息";
    Layout = "_BackLayout.cshtml";
    
}
<div class="bg_outdiv">
    <div class="bg_outdiv_left">
        @Html.Action("leftMenu", "布局")
    </div>
    <div class="bg_outdiv_right">
        @Html.Action("Part_ZNXX", "运营团队后台")
    </div>
</div>
