@using Go81WebApp.Models.数据模型.用户数据模型
@using Go81WebApp.Models.数据模型
@using Go81WebApp.Models.数据模型.商品数据模型
<script src="~/JS/provinceandcity_all.js"></script>
<link href="~/css/stylesheet.css" rel="stylesheet"/>
<style type="text/css">
    .inputstyle {
        margin: 10px;
        width: 200px;
        height: 50px;
        line-height: 50px;
        float: left;
    }
    select{
        width:100px;
        height:30px;
    }
</style>
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">导出数据</div>
    </div>
</div>
<div class="gys_znxx_box" style="height:auto;overflow:hidden; margin:0 auto;">
    <div style="padding:20px; height:auto;overflow:hidden;">
        <input type="button" onclick="DbExport('单位用户')" value="导出单位用户" class="inputstyle" />
        <input type="button" onclick="DbExport('验收单')" value="导出验收单" class="inputstyle" />
        <input type="button" onclick="DbExport('公告')" value="导出公告" class="inputstyle" />
        <input type="button" onclick="DbExport('商品')" value="导出商品" class="inputstyle" />
        <input type="button" onclick="DbExport('商品分类')" value="导出商品分类" class="inputstyle" />
        <input type="button" onclick="DbExport('商品历史销售信息')" value="导出商品历史销售信息" class="inputstyle" />
        <input type="button" onclick="DbExport('供应商')" value="导出供应商" class="inputstyle" />
        <input type="button" onclick="DbExport('办事指南')" value="导出办事指南" class="inputstyle" />
        <input type="button" onclick="DbExport('培训资料')" value="导出培训资料" class="inputstyle" />
        <input type="button" onclick="DbExport('通知')" value="导出通知" class="inputstyle" />
        <input type="button" onclick="DbExport('政策法规')" value="导出政策法规" class="inputstyle" />
        <input type="button" onclick="DbExport('登录统计')" value="导出登录统计" class="inputstyle" />
        <input type="button" onclick="DbExport('广告点击统计')" value="导出广告点击统计" class="inputstyle" />
        <input type="button" onclick="DbExport('下载')" value="导出下载" class="inputstyle" />
        <input type="button" onclick="DbExport('用户组')" value="导出用户组" class="inputstyle" />
        <input type="button" onclick="DbExport('专家')" value="导出专家" class="inputstyle" />
        <input type="button" onclick="DbExport('专家可评标专业')" value="导出专家可评标专业" class="inputstyle" />
        @if (WebApiApplication.IsIntranet)
        {
            <input type="button" onclick="DbExport('专家抽选记录')" value="导出专家抽选记录" class="inputstyle" />
            <input type="button" onclick="DbExport('供应商抽选记录')" value="导出供应商抽选记录" class="inputstyle" />
        }
        <input type="button" onclick="DbExport('供应商充值记录')" value="导出供应商充值记录" class="inputstyle" />
        <input type="button" onclick="DbExport('供应商充值余额')" value="导出供应商充值余额" class="inputstyle" />
        <input type="button" onclick="DbExport('供应商服务记录')" value="导出供应商服务记录" class="inputstyle" />
        <input type="button" onclick="DbExport('供应商计费项目扣费记录')" value="导出供应商计费项目扣费记录" class="inputstyle" />
        <input type="button" onclick="DbExport('供应商增值服务申请记录')" value="导出供应商增值服务申请记录" class="inputstyle" />
        <input type="button" onclick="ExportExcel()" value="导出专家到Excel表" class="inputstyle" />
        <input type="button" onclick="$('#modalselect').fadeIn();" value="导出供应商手机号到Excel表" class="inputstyle" />
    </div>
</div>

<!--供应商手机号导出筛选条件-->
<div id="modalselect" class="modal_out">
    <div class="modal_in"></div>
    <div class="modal_content_loading" style="top:50%;left:50%;width:600px;height:200px;margin:-120px 0 0 -300px;padding:30px;">
        <form action="/运营团队后台/ExportGysPhoneToExcel" method="post">
            <div>
                <select id="examstate" name="examstate">
                    <option value="-1" selected="selected">不限</option>
                    <option value="1">已审核</option>
                    <option value="0">未审核</option>
                    <option value="2">审核未通过</option>
                </select>
                <select id="authlevel" name="authlevel">
                    <option value="0">不限</option>
                    <option value="2">一级供应商</option>
                    <option value="3">二级供应商</option>
                    <option value="4">军采通基础会员</option>
                    <option value="5">军采通标准会员</option>
                    <option value="6">军采通商务会员</option>
                </select>
                <select id="category" name="category">
                    <option value="请选择">不限</option>
                    @foreach (var item in (IEnumerable<商品分类>)ViewData["行业分类"])
                    {
                        <option value="@item.分类名">@item.分类名</option>
                    }
                </select>
                <select id="gsytype" name="gsytype">
                    <option value="请选择">不限</option>
                    <option value="普通供应商">普通供应商</option>
                    <option value="协议供应商">协议供应商</option>
                    <option value="应急供应商">应急供应商</option>
                </select>
            </div>
            <div>
                <select id="deliverprovince" name="deliverprovince" style="width:153px; margin-left:2px;"></select>
                <select id="delivercity" name="delivercity" style="width:153px;"></select>
                <select id="deliverarea" name="deliverarea" style="width:153px;"></select>
                <script>
                    window.onload = function () { new PCAS("deliverprovince", "delivercity", "deliverarea"); }
                </script>

            </div>
            <div>
                <input type="checkbox" disabled="disabled" name="shortmessage" id="shortmessage" value="1" />
                <label for="shortmessage" style="display:inline;font-weight:normal">是否订购短信服务</label>
            </div>
            <div style="text-align:center;text-indent:0;">
                <input class="btn-pri" type="submit" value="导出" />
                <input class="btn-pri" type="button" onclick="$('#modalselect').fadeOut();" value="关闭" />
            </div>
        </form>
    </div>
</div>



<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $("#导出数据").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#导出数据").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    function ExportExcel() {
        window.open("/运营团队后台/ExportExpertsToExcel","_blank");
    }

    function DbExport(type) {
        if (!confirm("确定导出" + type + "？")) {
            return false;
        }
        var parm = "type=" + type;
        $.ajax({
            cache: false,
            async: false,
            url: "/运营团队后台/doDbExport",
            data: parm,
            success: function (data) {
                if (data != null && data != "") {
                    window.open(data);
                }
                else {
                    alert("导出失败！")
                }
            }
        });
    }
</script>
