
<link href="~/JS/YYTD/css.css" rel="stylesheet" type="text/css" />

<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">商品审核-已通过-商品详情</div>
    </div>
</div>
<div class="good_detail">
    <div class="good_title">商品介绍</div>
    <p>
        茶杯犬起源于美国，发展于日韩，如今已得到进一步的改良。在19世纪时，玩具贵宾犬因基因突变而诞生了，成为最早的茶杯犬，经美国繁殖家的培育，逐渐发展成现今的模样。茶杯犬小巧可爱，成为了众贵宾爱好者的新宠。
        经历了半个世纪的繁殖，茶杯犬的体型基因已相对稳定，一些繁殖家为其定立了标准，体重不足4磅，身高不超过8英寸的才算合格的茶杯犬，自从定立了标准，使人们更加容易区分茶杯犬和一般的贵宾犬。
    </p>
    <div class="good_title">规格参数</div>
    <div class="good_para_content">
        <div class="good_para">
            <table>
                <tr>
                    <td class="lab">商品名称：</td>
                    <td>茶杯犬</td>
                    <td class="lab">商品类型：</td>
                    <td>宠物</td>
                </tr>
                <tr>
                    <td class="lab">商品名称：</td>
                    <td>茶杯犬</td>
                    <td class="lab">商品类型：</td>
                    <td>宠物</td>
                </tr>
                <tr>
                    <td class="lab">商品名称：</td>
                    <td>茶杯犬</td>
                    <td class="lab">商品类型：</td>
                    <td>宠物</td>
                </tr>
                <tr>
                    <td class="lab">品种由来：</td>
                    <td class="colspan" colspan="3"><p>茶杯犬不同于一般小体型犬只的敏感性格，也区别于吉娃娃、博美之类的微型犬，它更多继承了玩具贵宾犬温顺、活泼、与人为善、聪明灵巧的秉性。</p></td>
                </tr>
            </table>
        </div>
        <div class="good_detail_pic">
            <img src="~/Images/tu.jpg" />
        </div>
    </div>
</div>