<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">导入数据</div>
    </div>
</div>
<div class="gys_znxx_box">

</div>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {

        $("#导入数据").css({ "background": "#537E2B" }).children("a").css({ "color": "#fff" });
        $("#导入数据").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
    function getloginstatistic() {
        var loginuser = $("#loginuser").val();
        var loginresult = $("#loginresult").val();
        var time = $("#time").val();
        var nettype = $("#nettype").val();
        var parm = "loginuser=" + loginuser + "&loginresult=" + loginresult + "&time=" + time + "&nettype=" + nettype;
        $.ajax({
            cache: false,
            async: false,
            url: "/运营团队后台/Part_StatisticsLoginSearch",
            data: parm,
            success: function (data) {
                $("#textcontent").html(data);
            }
        });
    }
</script>
