@model Go81WebApp.Models.数据模型.内容数据模型.通知
<link href="~/css/css.css" rel="stylesheet" />
<div class="title-base-out">
    <div class="title-base-middle">
        <div class="title-base-inner">系统消息</div>
    </div>
</div>
<div class="gys_znxx_box">
    <div class="yytd_xtxx_content">
        <h2>@Model.内容主体.标题</h2>
        <p><span>@Model.基本数据.修改时间</span>&nbsp;&nbsp;&nbsp;来源：<span>@Model.内容基本信息.所有者.用户ID</span> &nbsp;【<a href="#">打印</a>】</p>
        <article>@Html.Raw(Model.内容主体.内容)</article>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#系统通知").addClass("left_menu_select").children("a").css({ "color": "#fff" });
        $("#系统通知").parents().attr("show", "true").show().prev("li").addClass("open").children("span").css({ "background": "url('../Images/tree_icons.png') -115px -4px" });
    });
</script>