@using Go81WebApp.Models.数据模型.统计数据模型
    共@(ViewData["统计总数"].ToString())条数据
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <th width="25%">登录IP地址</th>
            <th width="15%">登录结果</th>
            <th width="20%">用户ID</th>
            <th width="25%">登录时间</th>
            <th width="15%">访问网络</th>
        </tr>
        @foreach (var item in (IEnumerable<登录统计>)ViewData["登录统计"])
        {
            <tr>
                <td>@item.登录IP</td>
                <td>@item.登录结果</td>
                <td>@item.用户数据.用户ID</td>
                <td>@item.登录时间.ToString()</td>
                @if (item.内网访问)
                {
                    <td>内网</td>
                }
                else
                {
                    <td>外网</td>
                }
            </tr>
        }
    </table>
    <div class="gys_znxx_content_detailbox">

    </div>