<link rel="stylesheet" href="~/JS/YYTD/index.css" type="text/css">
<div class="gys_xttz_box">
    <div class="title-base-out">
        <div class="title-base-middle">
            <div class="title-base-inner">未通过审核商品列表</div>
        </div>
    </div>
    <div class="gys_xttz_contentbox">
        <div class="gys_znxx_content">
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th class="gys_spgl_spk_businessname">商品名称</th>
                    <th width="15%">商品类型</th>
                    <th width="30%">上传者（供应商）</th>
                    <th>上传时间</th>
                    <th width="15%">操作</th>
                </tr>
                <tr>
                    <td class="gys_znxx_content_tabletime">迷彩服</td>
                    <td>服装（上衣）</td>
                    <td>联想</td>
                    <td>2014\1\12</td>
                    <td><a id="skan" href="~/运营团队后台/GoodNotPassDetail">查看</a>&nbsp;&nbsp;<a href="#">删除</a>  <a href="~/运营团队后台/GoodNotPassFeedback">反馈</a></td>
                </tr>
                <tr>
                    <td class="gys_znxx_content_tabletime">迷彩服</td>
                    <td>服装（上衣）</td>
                    <td>联想</td>
                    <td>2014\1\12</td>
                    <td><a href="~/运营团队后台/GoodNotPassDetail">查看</a>&nbsp;&nbsp;<a href="#">删除</a>  <a href="~/运营团队后台/GoodNotPassFeedback">反馈</a></td>
                </tr>
                <tr>
                    <td class="gys_znxx_content_tabletime">迷彩服</td>
                    <td>服装（上衣）</td>
                    <td>联想</td>
                    <td>2014\1\12</td>
                    <td><a href="~/运营团队后台/GoodNotPassDetail">查看</a>&nbsp;&nbsp;<a href="#">删除</a>  <a href="~/运营团队后台/GoodNotPassFeedback">反馈</a></td>
                </tr>
                <tr>
                    <td class="gys_znxx_content_tabletime">迷彩服</td>
                    <td>服装（上衣）</td>
                    <td>联想</td>
                    <td>2014\1\12</td>
                    <td><a href="~/运营团队后台/GoodNotPassDetail">查看</a>&nbsp;&nbsp;<a href="#">删除</a>  <a href="~/运营团队后台/GoodNotPassFeedback">反馈</a></td>
                </tr>
                <tr>
                    <td class="gys_znxx_content_tabletime">迷彩服</td>
                    <td>服装（上衣）</td>
                    <td>联想</td>
                    <td>2014\1\12</td>
                    <td><a href="~/运营团队后台/GoodNotPassDetail">查看</a>&nbsp;&nbsp;<a href="#">删除</a>  <a href="~/运营团队后台/GoodNotPassFeedback">反馈</a></td>
                </tr>
            </table>
        </div>
    </div>
    </div>
